.btn-success{
    margin: 20px 0; 
}

.botoes {
    display: flex;
    justify-content: flex-end; 
    gap: 10px; 
    align-items: center; 
}

.btn {
    height: 40px; 
    padding: 0 20px; 
    display: flex;
    align-items: center; 
}

.input-group {
    display: flex;  /* Enable flexbox */
    align-items: center; /* Align items vertically to the center */
}

.input-group select {
    max-width: 20%;
}